table img {
    height: 200px;
    width: 200px;
    border: 2px solid #4e73df;
}

.bg-login {
    filter: grayscale(1);

}



 .form-group input:invalid {
    color: #e02222;
    background-color: #fff;
    border-color: #e02222;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(231, 0, 0, 0.78);


}

.form-group input:valid {
    color: #11ff31;
    background-color: #fff;
    border-color: #11ff31;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(16, 194, 0, 0.657);
}